<app-header>

  </app-header>
      <!-- Main Content Wrapper -->
      <main class="content-wrapper">

        <div class="space-top-half"> </div>

        <div class="row padding-top">

        <img src="../../assets/img/empty-state-icons/checked.svg" height=300px width=300px style="display: block; margin-left: auto; margin-right: auto;">

        <br>

        <div style="text-align:center;">
        Transaction Successful! Check your email for transaction details.
        </div>
        </div>

      </main>


