<app-header></app-header>

<main class="content-wrapper">

<section class="container padding-top-3x padding-bottom-3x">

<div class="col-md-6 padding-bottom col-md-offset-3">
<h1>Reset Password</h1>


    <div class="ui-g">
      <div class="ui-g-12">

        <form #forgotPw = "ngForm" (ngSubmit) = "forgotPassword(forgotPw)">

          <input type='text' class='form-control' placeholder='Email' [(ngModel)]="email" name="email" #inemail = "ngModel"  [pattern]="emailPattern" />

          <div *ngIf="inemail.errors && inemail.errors.pattern" [ngClass] = "'error'"  class="text-danger">
             Please enter a valid email.
            </div>

        <input type="submit" value="Reset Password" class="btn btn-primary btn-block waves-effect waves-light" />


        <app-alert></app-alert>

        <a [routerLink]="['/login']"><i class="material-icons">keyboard_backspace</i> Back to Login</a>

        </form>
      </div>
    </div>



</div>
